@page
@model MHWWebAplication.Pages.StudentPages.IndexModel

@{
    ViewData["Title"] = "Studenci";
}

<h1 class="display-4">Studenci</h1>

<p>
    <a asp-page="Create">Dodaj studenta</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Group.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.StudentId">Edytuj</a> |
                    <a asp-page="./Details" asp-route-id="@item.StudentId">Szczegóły</a> |
                    <a asp-page="./Delete" asp-route-id="@item.StudentId">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
